

.input {
max-height: 56px;
padding: 18px 218px 18px 18px;
border-radius: 10px;
background: #F6F6F6;
border: none;
}
.titleFilter {
    color: #475467;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.titleMain {
    color: #101828;

/* H2 */
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
}
.listVehicle {
    list-style: none;
}
