@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p {
  margin: 0;
}
.active  {
  background: #E44848;
  color: #fff;
}
.hidden {
  overflow: hidden;
}