@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p {
  margin: 0;
}
.active  {
  background: #E44848;
  color: #fff;
}
.hidden {
  overflow: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
height: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff; 
}

body::-webkit-scrollbar-thumb {
  background-color: #D9D9D9; 
  border-radius: 7px; 
  
}
.container {
  padding: 64px;
}